body {
    color: white;
    background-color: rgb(4, 15, 59);
    text-align: center;
    text: white;
    padding: 0 10%;
}
h1 {
    font-size: 3.5em;
    color: aliceblue;
    align: center;
    font-family: sans-serif;
}
h2 {
    font-size: 3em;
}
p {
    background-color: rgb(4, 55, 55);
    align: center;
}
img {
    width: 100%;
    height: auto;
}