body {
    color: white;
    background-color: navy;
    text-align: center;
    text: white;
}
title {
    color: blue;
    text-align: center;
}
h1 {
    color: black;
    align: center;
}
p {
    background-color: darkcyan;
    align: center;
}